@import "tailwindcss";

:root {
  --primary: #8300f2;
  --secondary: #ff7652;

  --background: #ffffff;
  --foreground: #06070b;

  --font-bdogrotesk: "BDOGrotesk";
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  /* Gradients */

  /* Fonts */
  --font-primary: var(--font-bdogrotesk);

  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-bdogrotesk);
}

@font-face {
  font-family: "BDOGrotesk";
  src: url("/fonts/BDOGrotesk-VF.ttf") format("truetype");
  font-weight: 100 900; /* Supports all weights */
  font-style: normal;
}
